.card-item {
  width: 80vw;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 1em auto;
  padding: .5em;
  color: black;
  display: flex;
  background-color: #ECFDFF;
  /*justify-content: space-between;*/
}

.term {
  flex: 1;
  margin: 0 1em;
}

.def {
  flex: 2;
  margin: 0 1em;
}

.hint {
  flex: 1;
}

.completed {
  margin: 0 1em;
  flex: 1;
}
