.landing {
  margin: 2em 0;
  width: 100vw;
  height: 50vh;
  color: #290C31;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  /*background-color: #ECFDFF;*/
  background-image: url('../../img/splash1.png');
  background-size: cover;
  min-height: 300px;
}


.login-signup {
  width: 70vw;
  margin: 6em auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.6);
  padding: 1.5em;
}

.login-box {
  flex: 1;
  border-right: 1px solid black;
}

.signup-box {
  flex: 1;
}

.articles {
  display: flex;
  width: 80vw;
  flex-direction: row;
  margin: .5em auto;
}

article {
  flex: 1;
  justify-content: center;
  text-align: center;
  margin: .5em;
}

.articles h2 {
  margin: 0px;
}

.articles h4 {
  margin-top: 1em;
}
