.landing {
  margin: 2em 2em;;
  width: 100vw;
  height: 60vh;
  color: #290C31;
}

.welcome {
  color: #29BF12;
  margin-left: 1.5em;
  /*font-family: 'Indie Flower', cursive;*/
  /*font-size: 2em;*/
}


.login-signup {
  width: 70vw;
  margin: 5em auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

}

.login-box {
  flex: 1;
  border-right: 1px solid black;
}

.signup-box {
  flex: 1;
}
