

.header {
  width: 100%;
  background-color: #ffffff;
  color: #29BF12;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
}

.logo {
  text-align: center;
  padding: 0em .8em;
  margin-top: .5em;
  color: #29BF12;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  font-size: 1.25em;
}

.logo:hover {
  color: #290C31;
}

.nav-elements li{
  display: inline;
  margin: 1em 1em 0 1em;
  font-size: 1.5em;
}

.nav-link {
  color: #29BF12;
  text-decoration: none;
}

.nav-link:hover {
  color: #290C31;
}

.nav-elements {
  padding-top: .25em;
}
